@import "./styles/dashboard.css";
@import "./styles/leaderboard.css";
@import "./styles/nav.css";

/* Header styling */
.app-header {
  display: flex;
  justify-content: space-between; /* Align Nav on the left and User on the right */
  align-items: center; /* Vertically center items */
  padding: 10px 20px;
  background-color: #f8f9fa; /* Light background color */
  border-bottom: 1px solid #ddd; /* Add a subtle border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}